#individualOrder

  p,
  ol,
  .row,
  .form-group,
  .b-material
    opacity 0

  &.in p
    animation form-opacity .3s
    animation-fill-mode forwards
  
    &:nth-of-type(1)
      animation-delay .15s
  
    &:nth-of-type(2)
      animation-delay .2s

  &.in ol
    animation form-opacity .25s
    animation-fill-mode forwards
  
    &:nth-of-type(1)
      animation-delay .3s

  &.in .row
    animation form-opacity .3s
    animation-fill-mode forwards
  
    &:nth-of-type(1)
      animation-delay .35s
  
    &:nth-of-type(2)
      animation-delay .4s
  
    &:nth-of-type(3)
      animation-delay .45s
      
  &.in .b-material
    animation form-opacity .3s
    animation-fill-mode forwards
    animation-delay .5s
    
  &.in .form-group
    animation form-opacity .3s
    animation-fill-mode forwards
  
    &:nth-of-type(4)
      animation-delay .5s
  
    &:nth-of-type(5)
      animation-delay .55s
  
    &:nth-of-type(6)
      animation-delay .6s
  
    &:nth-of-type(7)
      animation-delay .65s
  
    &:nth-of-type(8)
      animation-delay .7s

  label
    display block
    font-size 8pt
    color #333
    
  h4
    font-size 8pt
    color #333
    
  select.form-control
    display inline-block
    margin-right 2px
    width 80%
    
    @media( max-width 767px )
      width calc(100% - 20px)
    
  .modal-body
    padding-right 60px
    padding-left 60px
    
    @media( max-width 767px )
      padding-right 30px
      padding-left 30px
      
  .btn
    line-height 1.72857143
    padding 6px 14px
    min-width 141px
    
    &.i-gray
      background-color #ececec
      border-color #ececec
      display none
      
      &:hover
        color inherit
    
  .b-material
    
    label
      position relative
      
      img
        width 80%
        height auto
        border 5px solid #e8e8e8
    
        @media( max-width 767px )
          width 100%
        
    .b-zoom
      font-size 8pt
      position relative
      margin 5px 0 0 25px
      cursor pointer
      
      &:before
        content ''
        display block
        position absolute
        top 3px
        left -18px
        background pink
        width 12px
        height 12px
        background embedurl( 'img/zoom-m.svg' ) no-repeat center
        background-size cover
        
    [type="checkbox"]
      display none
      
      &:checked+label
      
        img
          border-color #333366
          
        &:before
          content ''
          display block
          width 28px
          height 28px
          border-radius 51%
          background-color #333366
          position absolute
          bottom 11px
          left calc(80% - 39px)
    
          @media( max-width 767px )
            left calc(100% - 39px)
          
        &:after
          content ''
          display block
          position absolute
          bottom: 21px;
          left: calc(80% - 33px);
          width: 8px;
          height: 13px;
          border-top: 2px solid transparent;
          border-left: 2px solid transparent;
          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
          transform( rotateZ(37deg) )
          transform-origin: 100% 100%;
    
          @media( max-width 767px )
            left calc(100% - 33px)
            
  .modal-body
      
    .b-success
      display none
      
    .b-order-form
      display block
  
    &.i-success
      
      .b-success
        display block
        
      .b-order-form
        display none

#individualOrderBg
  width 100vw
  height 100vh
  background: rgba(0,0,0,.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor pointer
  
  .b-img
    position relative
    width 90%
    max-width 500px
    
    img
      width 100%
    
    &-close
      content ''
      display block
      position: absolute;
      top: -41px;
      right: -47px;
      width 30px
      height 30px
      cursor pointer
      
      @media( max-width 767px )
        right 0
  
      &:after
        content ''
        display block
        position: absolute;
        top: 0;
        left: 15px;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
        height: 30px
    
      &:before
        content ''
        display block
        position: absolute;
        top: 0;
        left: 15px;
        border-right: 2px solid #fff;
        transform: rotate(-45deg);
        height: 30px