header.b-header
  .b-container
  
button#nav-button( data-activates="sideNavPanel" ) Button
  
ul#sideNavPanel.side-nav
  li.logo
    span.bj-logo
      img(width='143', alt='', src='', height='40', title='')
  li.no-padding
    .media
      .media-body
        ul
          li
            a(href='/personal/') admin admin
          li
            a(href='/?logout=yes') Выйти
      .media-right
        a(href='/personal/')
          img(src='', width='64', height='48')
  li.no-padding
    ul
      li
        a(href='/personal/cart/')
          | Корзина 
          span.badge 3
      li
        a(href='/personal/index.php?SECTION=orders') Мои заказы
  li.no-padding
    ul
      li
        a(href='/search/') Поиск
      li
        a(href='/catalog/') Каталог
      li
        a(href='/campaign/') Акции
      li
        a(href='/journal/') Журнал
      li
        a(href='/lookbook/') LookBook
      li
        a(href='/about/') О магазине
      li
        a(href='/news/') Новости
      li
        a(href='/about/contacts/') Контакты
      li
        a(href='/about/vacancies/') Вакансии
      li
        a(href='/about/howto/') Как купить
      li
        a(href='/payment/') Оплата
      li
        a(href='/about/delivery/') Доставка
      li
        a(href='/about/guaranty/') Гарантии
